html {
    font-size: 16px;
    
    color: #9E9C9C;
    box-sizing: border-box;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    padding-top: 24px;
    background: #A3D0C3;
}

h1 {
    color: #000000;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    margin: 0 auto;
    max-width: 560px;
}

.search-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    border: 2px solid #7BA7AB;
    border-radius: 5px;

    background: #F9F0DA;
}
.search-form__input{
    height: 42px;
    padding: 0 16px;

    border: none;
    border-radius: 5px;
    outline: none;

    background: #F9F0DA;
    
    font-size: 1rem;
    color: #9E9C9C;
}

.search-form__list {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.search-form__item {
    display: flex;
    justify-content: space-between;

    padding: 0 16px;
    line-height: 42px;
    cursor: default;
}
.search-form__item:hover {
    background: #DAE3F9;
}
.search-form__dropdown {
    background: none;
    border: none;
    outline: none;

    cursor: pointer;
    
    color: #9E9C9C;
}
.search-form__dropdown:hover {
    text-decoration: underline;
}

.storage {
    width: 100%;
    
    border: 2px solid #7BA7AB;
    border-radius: 5px;

    background-color: #F9F0DA;
}
.storage__list {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.storage__item:not(:last-child) {
    border-bottom: 2px solid #7BA7AB;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px 16px;

    cursor: default;
}
.card__info {
    display: flex;
    flex-direction: column;
}
.card__dropdown {
    position: relative;
    width: 24px;
    height: 24px;

    background: none;
    border: none;
    cursor: pointer;
}
.card__dropdown:focus{
    outline: 2px solid #7BA7AB;
}
.card__dropdown::before {
    content: "";
    display: block;
    position: absolute;

    width: 24px;
    height: 2px;
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
    background: #7BA7AB;
}
.card__dropdown::after {
    content: "";
    display: block;
    position: absolute;

    width: 24px;
    height: 2px;
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
    background: #7BA7AB;
}
