*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #A3D0C3;
}

.choice {
    display: flex;
    height: 100vh;
}
.choice__link {
    position: relative;
    flex-basis: 50%;

    font-size: 2rem;
    text-decoration: none;
    color: #000000;
}
.choice__link:hover {
    font-size: 2.5rem;
}
.choice__link:not(:first-child)::after {
    content: "";
    display: block;
    width: 2px;
    height: 100vh;
    background: #000000;
}
.choice__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100%;
    text-align: center;
}
